.message {
  border-radius: 25px;
  border: solid 2px #00afc7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 60px;
  color: #98c660;
}
.errorButton {
  border-radius: 25px;
  background-color: #00afc7;
  border: solid 2px #98c660;
  color: black;
  width: 200px;
  height: 25px;
}
