.image {
  width: 555px;
  height: 140px;
  margin: 20px 0 30px 0;

  @media all and (max-width: 768px) {
    width: 286px;
    height: 105px;
  }
}
.input {
  color: #00afc7;
  text-align: center;
  width: 350px;
  height: 32px;
  border: solid 2px #aac74c;
  background-color: black;
  border-radius: 9px;

  @media all and (max-width: 768px) {
    width: 259px;
  }
}
